

<% if @board %>
  <h2><%= @board.name %></h2>
  <div class="board" id="<%= @board.id %>">
    <% if @board.lists %>
      <% @board.lists.each do |list| %>
        <div class="list" id="<%= list.id %>">
          <h3><%= list.name  %></h3>
          <% if list.id == 1 %>
              <%= render 'cards/new' %>
          <% end %>
          <div class="card-container">
            <ul id="sortable<%= list.id %>" class="connectedSortable">


             <% list.cards.each do |card| %>


                <li class="ui-state-default card" id="card<%= card.id %>">

                    <div class="organization-name">
                      <%= card.organization_name  %>
                    </div>
                    <div class="star-bar">  <!-- Eventually shrink this div's height -->
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star-half-o"></span>
                      <span class="fa fa-star-o"></span>
                    </div>

                  </li>

              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>Sorry, you have no boards yet.</p>
<% end %>


<!-- <ul id="dialog" title="Basic dialog">
  <li>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</li>
</ul> -->

<div class="card-modal" title="Update Card">
  <!-- <p class="validateTips">All form fields are required.</p> -->

</div>

