

<% if @board %>
  <h2><%= @board.name %></h2>
  <div class="board" id="<%= @board.id %>">
    <% if @board.lists %>
      <% @board.lists.each do |list| %>
        <div class="list" id="<%= list.id %>">
          <h3><%= list.name  %></h3>
          <% if list.id == 1 %>
            <%= render 'cards/new' %>
          <% end %>
          <ul id="sortable<%= list.id %>" class="connectedSortable">
            <% list.cards.each do |card| %>
              <li class="ui-state-default" class="card" id="card<%= card.id %>">
                <%= card.organization_name  %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>Sorry, you have no boards yet.</p>
<% end %>
