<div class="add-card">
<%= form_for(@card) do |f| %>
<% if @card.errors.any?  %>
<p class="error-warning">
  <%= pluralize(@card.errors.count, "error") %> prohibited this card from being created:
</p>
<ul>
  <% @card.errors.full_messages.each do |msg| %>
  <li class="error-message"><%= msg %></li>
</ul>
<% end %>
<p> <%= f.label :name %> </p>
<p><%= f.text_field :name, placeholder: 'name' %></p>
<p>
  <%= f.submit "Add card" %>
</p>
<% end %>
</div>