<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "JHO", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Log out", session_path(current_user.id), method: "delete" %></li>
          <li><%= link_to "Boards", boards_path %></li>
        <% else %>
          <li><%= link_to "Log in", new_session_path %></li>
          <li><%= link_to "Register", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>